.pageName {
  margin-top: 42px;
  font-size: 34px;

  padding: 20px;
}

.pageName_text {
  margin-left: 31px;
}

.orderList {
  width: 1272px;
  height: 829px;
  overflow: auto;
  box-shadow: 0 0 10px gray;
  border-radius: 7px;
}

.orderList_category {
  display: flex;
  border-bottom: 1px solid;
  text-align: center;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.orderList_category_product {
  width: 540px;

  margin-right: 25px;
  height: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderList_product {
  display: flex;
  flex-direction: column;
}

.listBox {
  display: flex;
  border-bottom: 1px solid;
}

.orderList_product_info {
  display: flex;
}

.orderList_product_info_text {
  padding-left: 25px;
  width: 374px;
  height: 157px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.orderList_product_info_image {
  display: flex;
  align-items: center;
  width: 115px;
  height: 157px;
}

.product_amount {
  width: 31px;
  border: 1px solid;
}

.orderList_product_amount_count {
  display: flex;
  width: 87px;
}

.orderList_product_amount_count_plus,
.orderList_product_amount_count_minus {
  width: 28px;
}
.orderList_product_amount_change {
  width: 87px;
}
.domain {
  margin-right: 25px;
  width: 138px;
  height: 157px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.orderList_product_price,
.orderList_product_state {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.orderList_product_info_name {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

a:visited {
  color: #3f3f3f;
  background-color: transparent;
  text-decoration: underline;
}

a:link {
  color: #3f3f3f;
  background-color: transparent;
  text-decoration: underline;
}
