/*---fonts_pretendard---*/
@font-face {
    font-family: 'pre_thin';
    src: url(./fonts/Pretendard/Pretendard-Thin.ttf);
}
@font-face {
    font-family: 'pre_light';
    src: url(./fonts/Pretendard/Pretendard-Light.ttf);
}
@font-face {
    font-family: 'pre_regular';
    src: url(./fonts/Pretendard/Pretendard-Regular.otf);
}
@font-face {
    font-family: 'pre_medium';
    src: url(./fonts/Pretendard/Pretendard-Medium.otf);
}
@font-face {
    font-family: 'pre_semibold';
    src: url(./fonts/Pretendard/Pretendard-SemiBold.ttf);
}
@font-face {
    font-family: 'pre_bold';
    src: url(./fonts/Pretendard/Pretendard-Bold.ttf);
}

/*---fonts_helvetica---*/
@font-face {
    font-family: 'helvetica';
    src: url(./fonts/HelveticaNeueLTPro/Helvetica.ttf);
}
@font-face {
    font-family: 'hel_exlight';
    src: url(./fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-LtEx.otf);
}
@font-face {
    font-family: 'hel_exmedium';
    src: url(./fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-MdEx.otf);
}
@font-face {
    font-family: 'hel_exheavy';
    src: url(./fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-BlkEx.otf);
}


/*---reset---*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*---border---*/
.border_red {
	border: solid 1px red;
}
.border_gray {
    border: solid 1px rgba(0, 0, 0, 0.15);
}
.border_bottom {
    width: 70px;
    height: 1.5px;
    border-bottom: solid 1.5px black;
    margin: 0 auto;
    margin-top: 25px;
}
.border_right {
    width: 1px;
    height: 110px;
    border-right: solid 1px black;
}

/*---wrap---*/
.wrap {
    width: 1270px;
	margin: 0 auto;
}

/*---title---*/
.sub_title {
    width: fit-content;
    height: fit-content;
    font-family: 'hel_exlight';
    font-size: 24px;
    display: inline;
    cursor: default;
    text-transform: uppercase;
}

.list_name {
    font-family: 'hel_exmedium';
    font-size: 22px;
    cursor: pointer;
}
.list_sub {
    font-family: 'pre_light';
    font-size: 14px;
    color: #3F3F3F;
    margin: 16px 0 12px 0;
    cursor: pointer;
}
.list_price {
    font-family: 'pre_medium';
    font-size: 16px;
    color: #3C3C3C;
    cursor: pointer;
}

/*--page_name--*/
.page_name {
    height: fit-content;
    margin-top: 120px;
}
.page_name img {
    width: 13px;
    height: 20px;
    margin: 0 30px 0 18px;
    cursor: pointer;
}
.page_name .page_name_border {
    width: 1270px;
    height: 2px;
    margin-top: 16px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.684375) 46.67%, rgba(0, 0, 0, 0) 100%);
}

/*--수량 버튼--*/
.cart_product_amount_count {
    display: flex;
    width: 87px;
    height: 25px;
    font-family: 'pre-light';
    font-size: 14px;
}

.cart_product_amount_count_minus {
    width: 28px;
    font-size: 20px;
    background: #F5F5F5;
    border: 1px solid #676767;
    border-radius: 2px 0px 0px 2px;
}

.cart_product_amount_count_minus:hover {
    background: #e8e8e8;
}

.cart_product_amount_count_minus p {
    font-size: 35px;
    font-family: 'pre_thin';
    line-height: 14px;
    margin-top: -4px;
}

.product_amount {
    width: 32px;
    border: 1px solid #676767;
    text-align: center;
    margin-left: -1px;
    color: #000000;
    font-family: 'pre_light';
    line-height: 24px;
}

.cart_product_amount_count_plus {
    width: 28px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    border: 1px solid #676767;
    border-radius: 0px 2px 2px 0px;
    margin-left: -1px;
}

.cart_product_amount_count_plus:hover {
    background: #e8e8e8;
}

.cart_product_amount_count_plus p {
    font-size: 28px;
    font-family: 'pre_thin';
    line-height: 14px;
    margin-top: -5px;
}

.cart_product_amount_change {
    width: 87px;
}

