<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>

    <link rel="stylesheet" type="text/css" href="./common.css" />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <link rel="stylesheet" type="text/css" href="./slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css" />
  </head>

  <body>
    <div class="nav_back">
      <div class="nav_wrap">
        <div class="nav_logo_area">
          <p id="logo"><a href="/main">CARCAR</a></p>
        </div>

        <div class="navbar_brands">
          <a class="navbar_brands_list" id="bmw" href="/product_list/bmw/"
            >bmw</a
          >
          <a class="navbar_brands_list" id="benz" href="/product_list/benz/"
            >benz</a
          >
          <a class="navbar_brands_list" id="tesla" href="/product_list/tesla/"
            >tesla</a
          >
          <a
            class="navbar_brands_list"
            id="rollsroyce"
            href="/product_list/rollsroyce/"
            >rollsroyce</a
          >
          <a
            class="navbar_brands_list"
            id="lamborghini"
            href="/product_list/lamborghini/"
            >lamborghini</a
          >
        </div>

        <div class="navbar_user">
          <a
            class="navbar_user_list navbar-user_inline"
            id="login"
            href="/login"
          >
            로그인
          </a>
          <a class="navbar_user_list navbar-user_inline" id="join" href="/join">
            회원가입
          </a>
          <a class="navbar_user_list" id="cart" href="/cart"> 장바구니 </a>
          <a class="navbar_user_list" id="goToMypage" href="/mypage"
            >마이페이지</a
          >
        </div>
      </div>
    </div>
    <main style="position: relative">
      <span class="main-text"
        >CARCAR의 기초는 비율이다. <br />내게 CARCAR은 하나의 조각품과
        같다.</span
      >
      <div class="carousel wrap">
        <div class="banner1 page"></div>

        <div class="banner2 page"></div>

        <div class="banner3 page"></div>
      </div>
    </main>

    <div id="main_contents" class="wrap">
      <section id="new_area">
        <div class="sub_title">
          <p>NEW ARRIVAL</p>
          <div class="border_bottom"></div>
        </div>

        <div id="new_product_area">
          <!--동적 html 생성 및 상품 리스트 API 호출
                <div class="new_product">
                    <img class="new_img" src="" alt="">
                    <div class="new_product_info">
                        <p class="list_name"></p>
                        <p class="list_sub"></p>
                        <p class="list_price"></p>
                    </div>
                </div>
                -->
        </div>
      </section>

      <section id="noti_area">
        <div class="sub_title">
          <p>NOTIFICATION</p>
          <div class="border_bottom"></div>
        </div>

        <div id="noti_text_area">
          <div class="notification">
            <p class="noti_title">공지 타이틀</p>
            <p class="noti_content">공지 콘텐츠</p>
          </div>
          <div class="border_right"></div>
          <div class="notification">
            <p class="noti_title">공지 타이틀</p>
            <p class="noti_content">공지 콘텐츠</p>
          </div>
          <div class="border_right"></div>
          <div class="notification">
            <p class="noti_title">공지 타이틀</p>
            <p class="noti_content">공지 콘텐츠</p>
          </div>
        </div>
      </section>
    </div>

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./slick/slick.min.js"></script>
    <script type="module" src="./main.js"></script>
    <script type="module" src="../../../app.js"></script>
  </body>
</html>
