/*---fonts_pretendard---*/
@font-face {
    font-family: 'pre_thin';
    src: url(../fonts/Pretendard/Pretendard-Thin.ttf);
}
@font-face {
    font-family: 'pre_light';
    src: url(../fonts/Pretendard/Pretendard-Light.ttf);
}
@font-face {
    font-family: 'pre_regular';
    src: url(../fonts/Pretendard/Pretendard-Regular.otf);
}
@font-face {
    font-family: 'pre_medium';
    src: url(../fonts/Pretendard/Pretendard-Medium.otf);
}
@font-face {
    font-family: 'pre_semibold';
    src: url(../fonts/Pretendard/Pretendard-SemiBold.ttf);
}
@font-face {
    font-family: 'pre_bold';
    src: url(../fonts/Pretendard/Pretendard-Bold.ttf);
}

/*---fonts_helvetica---*/
@font-face {
    font-family: 'helvetica';
    src: url(../fonts/HelveticaNeueLTPro/Helvetica.ttf);
}
@font-face {
    font-family: 'hel_exlight';
    src: url(../fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-LtEx.otf);
}
@font-face {
    font-family: 'hel_exmedium';
    src: url(../fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-MdEx.otf);
}
@font-face {
    font-family: 'hel_exheavy';
    src: url(../fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-BlkEx.otf);
}

.login_form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_user_container {
    width: 1270px;
    margin-top: 423px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_desc_container {
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_logo {
    width: 390px;
    height: 40px;
}

a {
    text-decoration: none;
    font-family: 'hel_exheavy';
    font-weight: 900;
    font-size: 70px;
    color: #000000;
    font-size: 70px;
}

.main_desc {
    width: 633px;
    height: 48px;
    font-family: 'pre_thin';
    font-weight: 200;
    font-size: 20px;
}

.login_user_form_container {
    width: 461px;
}

.input {
    width: 460px;
    height: 60px;
    font-family: 'pre_light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: solid 1px;
    border-radius: 2px;
}

.button_container {
    display: flex;
    justify-content: space-between;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 16px;
}

.button_join {
    width: 218.89px;
    height: 60px;
    margin-top: 43px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid;
    border-radius: 2px;
}

.button_login {
    width: 218.89px;
    height: 60px;
    margin-top: 43px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 2px;
}

.copyRight_desc {
    font-family: 'hel_exlight';
    color: #969696;
    font-size: 14px;
    margin-top: 390px;
}
