<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF_8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>login-test</title>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="login.css" />
        <link rel="stylesheet" href="../../common.css" />
        <script src="login.js" type="module" defer></script>
    </head>
    <body>
        <div class="login_form_container">
            <div class="login_user_container">
                <div class="logo_desc_container">
                    <div class="main_logo"><a href="#">CARCAR</a></div>
                    <div class="main_desc">
                        <p>
                            다함께 CARCARCAR 팀 최고<br />
                            CARCAR은 세계 최고 1위 자동차 피규어 사이트입니다.
                        </p>
                    </div>
                </div>

                <div class="login_user_form_container">
                    <form class="login_user_form_box" id="loginUserForm">
                        <div class="field">
                            <div class="control">
                                <input
                                    class="input"
                                    id="emailInput"
                                    type="text"
                                    placeholder="ID"
                                    autocomplete="on"
                                />
                                <p class="error"></p>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input
                                    class="input"
                                    id="passwordInput"
                                    type="password"
                                    placeholder="PASSWORD"
                                    autocomplete="on"
                                />
                                <p class="error"></p>
                            </div>
                        </div>

                        <div class="button_container">
                            <button class="button_join" id="joinButton">
                                JOIN US
                            </button>
                            <button class="button_login" id="loginButton">
                                LOGIN
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="copyRight_desc">
                <p>Copyright © 2023 SW4.CARCAR All Rights Reserved.</p>
            </div>
        </div>
    </body>
</html>
