<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="main.css">
</head>

<body>

    <section class="carousel">

        <div class="banner1 banner border_red">
            <article class="banner_title wrap">
                <p class="title">
                    배너1 타이틀
                </p>
                <p class="sub_title">
                    배너1 서브 텍스트
                </p>
            </article>
        </div>

        <div class="banner2 banner border_red">
            <article class="banner_title wrap">
                <p class="title">
                    배너2 타이틀
                </p>
                <p class="sub_title">
                    배너2 서브 텍스트
                </p>
            </article>
        </div>

        <div class="banner3 banner border_red">
            <article class="banner_title wrap">
                <p class="title">
                    배너3 타이틀
                </p>
                <p class="sub_title">
                    배너3 서브 텍스트
                </p>
            </article>
        </div>

    </section>

    <div class="wrap">
        <section id="new_area">

            <div class="sub_title ">
                <p>NEW ARRIVAL</p>
                <div class="border_bottom"></div>
            </div>

            <div id="new_product_area">
                <!--동적 html 생성 및 상품 리스트 API 호출-->
            </div>
        </section>

        <section id="noti_area">
            <div class="sub_title">
                <p>NOTIFICATION</p>
                <div class="border_bottom"></div>
            </div>

            <div id="noti_text_area">
                <div class="notification">
                    <p class="noti_title">공지 타이틀</p>
                    <p class="noti_content">공지 콘텐츠</p>
                </div>
                <div class="border_right"></div>
                <div class="notification">
                    <p class="noti_title">공지 타이틀</p>
                    <p class="noti_content">공지 콘텐츠</p>
                </div>
                <div class="border_right"></div>
                <div class="notification">
                    <p class="noti_title">공지 타이틀</p>
                    <p class="noti_content">공지 콘텐츠</p>
                </div>
            </div>
        </section>

    </div>

    <script type="text/javascript" src="main.js"></script>
</body>

</html>