<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF_8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>join-test</title>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="join.css" />
        <link rel="stylesheet" href="../../common.css" />
        <script src="join.js" type="module" defer></script>
    </head>
    <body>
        <div class="join_form_container">
            <div class="join_user_container">
                <div class="logo_desc_container">
                    <div class="main_logo"><a href="#">CARCAR</a></div>
                    <div class="main_desc">
                        <p>
                            다함께 CARCARCAR 팀 최고<br />
                            CARCAR은 세계 최고 1위 자동차 피규어 사이트입니다.
                        </p>
                    </div>
                </div>

                <div class="join_user_form_container">
                    <form class="join_user_form_box" id="joinUserForm">
                        <div class="field">
                            <div class="control">
                                <input
                                    class="input"
                                    id="fullNameInput"
                                    type="text"
                                    placeholder="이름"
                                    autocomplete="on"
                                />
                                <!-- <p id="log"></p> -->
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input
                                    class="input"
                                    id="emailInput"
                                    type="email"
                                    placeholder="ID (E-Mail)"
                                    autocomplete="on"
                                />
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input
                                    class="input"
                                    id="phoneNumberInput"
                                    type="tel"
                                    placeholder="Phone Number"
                                    autocomplete="off"
                                />
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input
                                    class="input"
                                    id="postalCodeInput"
                                    type="text"
                                    placeholder="Postal code"
                                    autocomplete="off"
                                />
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input
                                    class="input"
                                    id="mainAdressInput"
                                    type="text"
                                    placeholder="Main address"
                                    autocomplete="off"
                                />
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input
                                    class="input"
                                    id="detailAddressInput"
                                    type="text"
                                    placeholder="Detail address"
                                    autocomplete="off"
                                />
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input
                                    class="input"
                                    id="passwordInput"
                                    type="password"
                                    placeholder="Password"
                                    autocomplete="off"
                                />
                            </div>
                        </div>

                        <div class="field mb-5">
                            <div class="control">
                                <input
                                    class="input"
                                    id="passwordConfirmInput"
                                    type="password"
                                    placeholder="Confirm password"
                                    autocomplete="off"
                                />
                            </div>
                        </div>

                        <button class="submit_button" id="submitButton">
                            JOIN US
                        </button>
                    </form>
                </div>
            </div>
            <div class="copyRight_desc">
                <p>Copyright © 2023 SW4.CARCAR All Rights Reserved.</p>
            </div>
        </div>
    </body>
</html>
