<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주문상세</title>
    <!-- <link rel="stylesheet" href="nav.css" />
     <link rel="stylesheet" href="../../common.css" /> -->
    <link rel="stylesheet" href="orderinfo.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <script src="https://kit.fontawesome.com/cc4ff2282f.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="nav_back">
      <div class="nav_wrap">
        <div class="nav_logo_area">
          <p id="logo"><a href="#">CARCAR</a></p>
        </div>

        <div class="navbar_brands">
          <a class="navbar_brands_list" id="bmw" href="/product/bmw/">bmw</a>
          <a class="navbar_brands_list" id="benz" href="/product/benz/">benz</a>
          <a class="navbar_brands_list" id="tesla" href="/product/tesla/">tesla</a>
          <a class="navbar_brands_list" id="rollsroyce" href="/product/rollsroyce/">rollsroyce</a>
          <a class="navbar_brands_list" id="lamborghini" href="/product/lamborghini/">lamborghini</a>
        </div>

        <div class="navbar_user">
          <a class="navbar_user_list navbar-user_inline" id="login" href="#"> 로그인 </a>
          <a class="navbar_user_list navbar-user_inline" id="join" href="#"> 회원가입 </a>
          <a class="navbar_user_list" id="cart" href="#"> 장바구니 </a>
          <a class="navbar-user_list" id="goToMypage" href="#">마이페이지</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="pageName">
        <i class="fa-solid fa-chevron-left"></i>
        <span class="pageName_text">주문상세</span>
      </div>

      <div class="orderInfo">
        <div class="orderInfo_list" style="border-bottom: 1px solid rgba(0, 0, 0, 0.3)">
          <div class="orderInfo_list_Title">주문정보</div>
        </div>

        <div class="orderInfo_list">
          <div class="orderInfo_list_type">주문 번호</div>
          <p class="orderInfo_list_text" id="ordernumber"></p>
        </div>
        <div class="orderInfo_list">
          <div class="orderInfo_list_type">주문 일자</div>
          <div class="orderInfo_list_text" id="orderdate"></div>
        </div>
        <div class="orderInfo_list">
          <div class="orderInfo_list_type">구매자</div>
          <div class="orderInfo_list_text customer"></div>
        </div>
        <div class="orderInfo_list">
          <div class="orderInfo_list_type">주문 처리상태</div>
          <div class="orderInfo_list_text" id="orderstate"></div>
        </div>
        <div class="orderInfo_list">
          <div class="orderInfo_list_type">총 결제금액</div>
          <div class="orderInfo_list_text" id="totalprice"></div>
        </div>
      </div>

      <div class="deliveryInfo">
        <div class="deliveryInfo_list" style="border-bottom: 1px solid rgba(0, 0, 0, 0.3)">
          <div class="deliveryInfo_list_Title">배송지 정보</div>
        </div>

        <div class="deliveryInfo_list">
          <div class="deliveryInfo_list_type">우편번호</div>
          <input type="text" class="deliveryInfo_list_text" id="postal" />
        </div>
        <div class="deliveryInfo_list">
          <div class="deliveryInfo_list_type">주소</div>
          <input type="text" class="deliveryInfo_list_text" id="address" />
        </div>
        <div class="deliveryInfo_list">
          <div class="deliveryInfo_list_type">자세한 주소</div>
          <input type="text" class="deliveryInfo_list_text" id="detailaddress" />
          <button id="changeAddress">주소 변경</button>
        </div>

        <div class="deliveryInfo_list">
          <div class="deliveryInfo_list_type">연락처</div>
          <div class="deliveryInfo_list_text" id="contact"></div>
        </div>

        <div class="deliveryInfo_list">
          <div class="deliveryInfo_list_type">구매자</div>
          <div class="deliveryInfo_list_text customer"></div>
        </div>
      </div>

      <div class="orderProduct">
        <div class="orderProduct_category">
          <div class="orderProduct_category_column" style="width: 601px">
            <div>주문 상품정보</div>
          </div>
          <div class="orderProduct_category_column" style="width: 397px">
            <div class="orderProduct_category_column_list">수량</div>
            <div class="orderProduct_category_column_list">상품 구매금액</div>
            <div class="orderProduct_category_column_list">주문 처리상태</div>
          </div>
      </div>

      
    </div>

     <div class="priceBox">
        <div class="priceBox-shadow">
          <p class="priceBox-category_text size" ></p>
        </div>


    <div class="orderDelete">
      <button id="orderDelete-btn"><a href="http://localhost:8000/orderlist">주문 취소</a></button>
    </div>
   
    <script src="orderInfo.js" type="module"></script>
   
  </body>
</html>
