.pageName {
  margin-top: 42px;
  font-size: 34px;

  padding: 20px;
}

.pageName_text {
  margin-left: 31px;
}

.orderInfo {
  width: 1272px;
  height: 278px;

  box-shadow: 0px 5px 30px 1px rgba(150, 150, 150, 0.24);
  border-radius: 7px;

  display: flex;
  flex-direction: column;
}

.orderInfo_list_Title,
.deliveryInfo_list_Title {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;

  display: flex;
  align-items: center;
}

#address {
  margin-right: 20px;
}
.orderInfo_list,
.deliveryInfo_list {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  height: 50px;
  display: flex;
  padding-left: 23px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: center;
}

.orderInfo_list:nth-child(1),
.deliveryInfo_list:nth-child(1) {
  flex-grow: 1.2;
}

.orderInfo_list:nth-child(2),
.orderInfo_list:nth-child(3),
.orderInfo_list:nth-child(4),
.orderInfo_list:nth-child(5),
.orderInfo_list:nth-child(6) {
  flex-grow: 1;
}

.deliveryInfo_list:nth-child(2),
.deliveryInfo_list:nth-child(3),
.deliveryInfo_list:nth-child(4) {
  flex-grow: 1;
}
.orderInfo_list_type:nth-child(1),
.deliveryInfo_list_type:nth-child(1) {
  flex-basis: 162px;
}

.deliveryInfo {
  margin-top: 20px;
  width: 1272px;
  height: 188px;

  box-shadow: 0px 5px 30px 1px rgba(150, 150, 150, 0.24);
  border-radius: 7px;

  display: flex;
  flex-direction: column;
}
.orderProduct {
  margin-top: 20px;
  width: 1272px;

  height: fit-content;
  box-shadow: 0px 5px 30px 1px rgba(150, 150, 150, 0.24);
  border-radius: 7px;
}

.orderProduct_category {
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  padding-left: 23px;
  padding-right: 23px;
  height: 53px;
  justify-content: space-between;
}

.orderProduct_category_column {
  display: flex;
}

.orderProduct_category_column_list {
  text-align: center;
  width: 137px;
}

.orderProduct_content {
  padding: 0 23px 0 23px;
  display: flex;
  justify-content: space-between;
}

.orderProduct_content_column_info {
  margin-top: 15px;
  width: 601px;
  height: 115px;
  display: flex;
}

.orderProduct_content_column_info_image {
  width: 115px;
  margin-right: 25px;
  display: flex;
  align-items: center;
}

.orderProduct_content_column_info_text {
  width: 462px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orderProduct_content_column_statement {
  width: 397px;
  height: 115px;
  display: flex;

  align-items: center;
  text-align: center;
}

.product_margin {
  text-align: center;
  width: 137px;
}

.orderDelete {
  width: 1272px;
  display: flex;
  height: 48px;
}
#orderDelete-btn {
  width: 299px;
  margin-left: auto;
  margin-top: 15px;
  background-color: black;
  color: #ffffff;
  border-radius: 2px;
}

#changeAddress {
  margin-left: 30px;
}
.priceBox-shadow {
  margin-top: 15px;
  width: 1272px;
  box-shadow: 0 0 10px gray;
  height: 40px;
}

.priceBox-category_text {
  display: flex;
  margin-left: auto;
  padding-top: 10px;
}

.size {
  width: 400px;
  display: flex;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
