.error,
.warning_message {
    color: tomato;
}

.body {
    background-color: #f5f5f5;
}

.user_security_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 132px;
}

.user_security_banner_container {
    width: 1272px;
    margin-bottom: 35px;
}

.left_button_box {
    width: 159px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'hel_exlight';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #000000;
}

.left_button {
    text-decoration: none;
    color: #000000;
}

.user_info_container {
    width: 1272px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    opacity: 0.8;
    /* shadow */
    box-shadow: 0px 5px 30px 1px rgba(150, 150, 150, 0.24);
    border-radius: 7px;
}

.user_info_box_wrap {
    display: flex;
    flex-direction: column;
}

.user_info_box {
    display: flex;
    align-items: center;
    width: 1272px;
    height: 81px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.user_name_info_box,
.user_id_info_box,
.user_password_info_box,
.user_phone_number_info_box,
.user_address_info_box {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 23px;
}

.name,
.id,
.user_email,
.current_password,
.password,
.phone_number,
.address,
.delete_user {
    font-family: 'pre_regular';
    font-weight: 400;
    font-size: 14px;
    width: 140px;
}

.field {
    height: 55px;
    display: flex;
    flex-direction: column;
}

.input {
    width: 460px;
    height: 55px;
    font-family: 'pre_light';
    font-weight: 300;
    font-size: 16px;
    background-color: #f9f9f9;
    background: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}

.address_input {
    height: 55px;
    margin-right: 10px;
    font-family: 'pre_light';
    font-weight: 300;
    font-size: 16px;
    background-color: #f9f9f9;
    background: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}

.save_button_container {
    width: 1272px;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.save_button {
    font-family: 'pre_regular';
    font-weight: 700;
    font-size: 16px;
    width: 299px;
    height: 48px;
    background-color: #000000;
    color: #f5f5f5;
    border: none;
    border-radius: 2px;
}

.save_button:disabled {
    background-color: #969696;
}

.delete_user_container {
    font-family: 'pre_regular';
    width: 1272px;
    display: flex;
    align-items: center;
    background: #ffffff;
    opacity: 0.8;
    margin-top: 30px;
    /* shadow */
    box-shadow: 0px 5px 30px 1px rgba(150, 150, 150, 0.24);
    border-radius: 7px;
}

.delete_user_wrap {
    height: 81px;
    margin-left: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
