<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>user-security</title>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="user-security.css" />
        <script src="user-security.js" type="module" defer></script>
    </head>
    <body>
        <section class="user_security_section">
            <!-- mypage 버튼 -->
            <div class="user_security_banner_container">
                <div class="left_button_box">
                    <span>
                        <a href="#" class="left_button">〈</a>
                    </span>
                    <span>회원정보관리</span>
                </div>
            </div>

            <!-- 회원정보칸 -->
            <div class="user_info_container">
                <div class="user_info_box_wrap">
                    <div class="user_info_box">
                        <div class="user_name_info_box">
                            <div class="name">이름</div>
                            <div class="field">
                                <div class="control">
                                    <input
                                        class="input"
                                        id="fullNameInput"
                                        type="text"
                                        name="name"
                                        placeholder="Name..."
                                        required
                                    />
                                    <span class="error"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="user_info_box">
                        <div class="user_id_info_box">
                            <div class="id">아이디</div>
                            <div class="control">
                                <span class="user_email">현재 아이디</span>
                                <span class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="user_info_box">
                    <div class="user_password_info_box">
                        <div class="current_password">현재 비밀번호</div>
                        <div class="field">
                            <div class="control">
                                <input
                                    class="input"
                                    id="passwordInput"
                                    type="password"
                                    name="password"
                                    placeholder="Password..."
                                    required
                                />
                                <span class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="user_info_box">
                    <div class="user_password_info_box">
                        <div class="password">변경할 비밀번호</div>
                        <div class="field">
                            <div class="control">
                                <input
                                    class="input"
                                    id="passwordConfirmInput"
                                    type="password"
                                    name="confirm_password"
                                    placeholder="Confirm password..."
                                    required
                                />
                                <span class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="user_info_box">
                    <div class="user_phone_number_info_box">
                        <div class="phone_number">연락처</div>
                        <div class="field">
                            <div class="control">
                                <input
                                    class="input"
                                    id="phoneNumberInput"
                                    type="tel"
                                    placeholder="Phone Number..."
                                    required
                                />
                                <span class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="user_info_box">
                    <div class="user_address_info_box">
                        <div class="address">주소</div>
                        <div class="field">
                            <div class="control">
                                <input
                                    class="address_input"
                                    id="postalCodeInput"
                                    type="text"
                                    placeholder="Postal code"
                                    required
                                />
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input
                                    class="address_input"
                                    id="mainAdressInput"
                                    type="text"
                                    placeholder="Main address"
                                    required
                                />
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input
                                    class="address_input"
                                    id="detailAddressInput"
                                    type="text"
                                    placeholder="Detail address"
                                    required
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="save_button_container">
                <button
                    type="submit"
                    class="save_button"
                    id="save_button"
                    disabled
                >
                    저장하기
                </button>
            </div>

            <!-- orderlist(최근 주문만) -->
            <div class="delete_user_container">
                <div class="delete_user_wrap">
                    <div class="delete_user">회원 탈퇴</div>
                    <div class="field">
                        <div class="control">
                            <input
                                class="input"
                                id="delete_user"
                                type="tel"
                                placeholder="탈퇴를 원하시면 사용하시는 '비밀번호'를 입력하고 Enter를 눌러주세요."
                                required
                            />
                            <span class="warning_message"
                                >* 탈퇴시 계정을 복구할 수 없습니다.</span
                            >
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
