<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product list</title>

    <link rel="stylesheet" type="text/css" href="./common.css">
    <link rel="stylesheet" type="text/css" href="product_list.css">
</head>

<body>
    <div class="page_name wrap">
        <div id="page_name_text">
            <img class="previous_btn" src="./img/arrow.svg" alt=""> <!--이전 페이지 돌아가기 기능 구현하기-->
            <p id="category_title" class="sub_title"></p>
            
        </div>
        <div class="page_name_border"></div>
    </div>

    <section id="product_list_area">

        <!-- js 동적 생성 내용
        
        <div class="product_list_item">
            <a href="#/product_id">
                <div class="item_img">
                    <img src="" alt="제품 사진">
                </div>
                <div class="item_text">
                    <p class="list_name">BMW 123</p>
                    <p class="list_sub">
                        자동차 사고 싶다<br>
                        자동차 멋지다 멋지다 멋지다
                    </p>
                    <p class="list_price">KRW 30,000</p>
                </div>
            </a>
        </div>
        
        -->

    </section>

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="module" src="product_list.js" defer></script>
</body>

</html>