.product_list_area {
    height: fit-content;
    margin-top: 50px;
    display: grid;
    grid-auto-rows: 383px;
    grid-template-columns: 298px 298px 298px 298px;
    grid-row-gap: 50px;
    grid-column-gap: 25px;
}
.product_list_area .product_list_item {
    width: fit-content;
    height: fit-content;
    transform: scale(1);
    transition: all .1s linear;
}
.product_list_area .product_list_item:hover {
    transform: scale(0.99);
    transition: all .1s linear;
    cursor: pointer;
}
.product_list_area .product_list_item .item_img {
    width: 298px;
    height: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    border-radius: 5px;
}
.product_list_area .product_list_item .item_img img {
    width: 275px;
    height: 165px;
    border: solid 1px black;
}
.product_list_area .product_list_item .item_text {
    width: 298px;
    margin-top: 30px;
    height: fit-content;
}