/*--carousel--*/
main {
    width: 1596px;
    height: 650px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #F4F4F4;
    box-shadow: 0px 5px 30px 1px rgba(150, 150, 150, 0.6);
}

.carousel {
    height: fit-content;
    margin: 0 auto;
    overflow: hidden;
}

.carousel div {
    margin: 0 auto;
    width: 948px;
    height: 650px;
    display: block;
}

.carousel div div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel div img {
    margin: 0 auto;
    width: 920px;
}

.carousel div .product_img2 {
    transform: scaleX(-1);
}

/*--product_text--*/
.product_text {
    margin-top: 80px;
    margin-bottom: 90px;
}
.product_text .product_text_top {
    display: flex;
    justify-content: space-between;
}
.product_text .product_text_bottom {
    display: flex;
    justify-content: space-between;
}
.product_text .product_text_left {
    width: 299px;
}
.product_text .product_text_right {
    width: 946px;
}
.product_text .product_name {
    font-family: 'hel_exmedium';
    font-size: 42px;
    line-height: 38px;
    width: 100%;
}
.product_text .product_price {
    font-family: 'pre_medium';
    font-size: 20px;
    color: #494949;
    line-height: 24px;
    margin-top: 20px;
}

/*--product_text_top--*/
.product_text .product_text_top .product_text_left {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.product_text .product_text_top .product_text_right {
    height: 164px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.product_text .product_text_top .product_text_right .main_description {
    width: 946px;
    height: fit-content;
}

.product_text .product_text_top .product_text_right .sub_description {
    width: 946px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.product_text .border_gray {
    margin: 39px 0 39px 0;
}

/*--product_text_bottom--*/
.product_text .product_text_bottom .product_text_left {
    font-family: 'pre_regular';
    font-size: 20px;
    color: #494949;
    display: flex;
    align-items: flex-end;
}

.product_text .product_text_bottom .product_text_left .cart_product_amount {
    margin-left: 15px;
}
.amount_done {
    width: 75px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    border: 1px solid #676767;
    border-radius: 2px;
    margin-left: 7px;
}

.amount_done:hover {
    background: #e8e8e8;
}

.amount_done p {
    margin-top: -2px;
}

.product_text .product_text_bottom .product_text_right {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.product_text .product_text_bottom .product_text_right .price_area {
    width: 300px;
    height: 25px;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    font-family: 'pre_medium';
    color: #494949;
}
.product_text .product_text_bottom .product_text_right .price_area .total_price {
    width: 160px;
    font-size: 20px;
    font-family: 'pre_semibold';
    color: #232323;
    margin-left: 17px;
    white-space: nowrap;
}
.product_text .product_text_right .product_btn {
    width: 623px;
    display: flex;
    justify-content: space-between;
}

.product_text .product_text_right .product_btn button {
    width: 304px;
    height: 50px;
    border: solid 1px black;
    border-radius: 3px;
    font-size: 20px;
    font-family: 'helvetica';
}
.product_text .product_text_right .product_btn .add_cart_btn {
    color: black;
    background-color: white;
}
.product_text .product_text_right .product_btn .add_cart_btn:hover {
    color: black;
    background-color: rgb(232, 232, 232);
}
.product_text .product_text_right .product_btn .buy_btn {
    color: white;
    background-color: black;
}
.product_text .product_text_right .product_btn .buy_btn:hover {
    color: white;
    background-color: rgb(45, 45, 45);
}