<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>

    <link rel="stylesheet" type="text/css" href="./common.css">
    <link rel="stylesheet" type="text/css" href="product.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css"/>
</head>
<body>
    <div class="page_name wrap">
        <div>
            <img class="previous_btn" src="../../img/arrow.svg" alt=""> <!--이전 페이지 돌아가기 기능 구현하기-->
            <p class="sub_title">Product</p>
        </div>
        <div class="page_name_border"></div>
    </div>

    <main>
        <div class="carousel wrap">
    
            <div>
                <img class="product_img1" src="../../img/test_img1.png" alt="">
            </div>
    
            <div>
                <img class="product_img2" src="../../img/test_img2.png" alt="">
            </div>
    
        </div>
    </main>

    <section class="product_text wrap">
        <div class="product_text_top">
            <div class="product_text_left">
                <p class="product_name">BENZ 123</p>
                <p class="product_price">KRW <span>60,000</span></p>
            </div>
    
            <div class="product_text_right">
                <p class="main_description">
                    상품설명상품설명상품설명상품설명상품설명상품설명상품<br>
                    명상품설명상품설명상품설명상품설명상품설명상품설명상품설명상품설명상품설명상품설명상품설명상
                </p>

                <div class="sub_description">
                    <p class="maker">제조사 _ <span>엘리스 트랙 SW4 CARCAR</span></p>
                    <p class="shipping_fee">배송비 _ KRW 3000</p>
                </div>
            </div>
        </div>
        

        <div class="border_gray"></div>

        <div class="product_text_bottom">
            <div class="product_text_left">
                <p class="">수량</p> <!--수량 조절 버튼 구현하기-->
            </div>

            <div class="product_text_right">
                <div class="price_area">
                    <p>TOTAL PRICE</p>
                    <p class="total_price">KRW <span>120,000</span></p>
                </div>
                <div class="product_btn">
                    <button>Add to cart</button>
                    <button>Buy</button>
                </div>
            </div>
        </div>

        
    </section>
    
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../slick/slick.min.js"></script>
    <script type="text/javascript" src="product.js"></script>
</body>
</html>