<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>

    <link rel="stylesheet" type="text/css" href="./common.css">
    <link rel="stylesheet" type="text/css" href="product.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css"/>
</head>
<body>
    <div class="nav_back">
        <div class="nav_wrap">
          <div class="nav_logo_area">
            <p id="logo"><a href="/main">CARCAR</a></p>
          </div>
  
          <div class="navbar_brands">
            <a class="navbar_brands_list" id="bmw" href="/product_list/bmw/">bmw</a>
            <a class="navbar_brands_list" id="benz" href="/product_list/benz/">benz</a>
            <a class="navbar_brands_list" id="tesla" href="/product_list/tesla/">tesla</a>
            <a class="navbar_brands_list" id="rollsroyce" href="/product_list/rollsroyce/">rollsroyce</a>
            <a class="navbar_brands_list" id="lamborghini" href="/product_list/lamborghini/">lamborghini</a>
          </div>
  
          <div class="navbar_user">
            <a class="navbar_user_list navbar-user_inline" id="login" href="/login"> 로그인 </a>
            <a class="navbar_user_list navbar-user_inline" id="join" href="/join"> 회원가입 </a>
            <a class="navbar_user_list" id="cart" href="/cart"> 장바구니 </a>
            <a class="navbar_user_list" id="goToMypage" href="/mypage">마이페이지</a>
          </div>
        </div>
    </div>
    <div class="page_name wrap">
        <div>
            <img class="previous_btn" src="./img/arrow.svg"> <!--이전 페이지 돌아가기 기능 구현하기-->
            <p class="sub_title">Product</p>
        </div>
        <div class="page_name_border"></div>
    </div>

    <main>
        <div class="carousel wrap">
    
            <div>
                <div>
                    <img class="product_img1" src="../../img/test_img1.png">
                </div>
                
            </div>
    
            <div>
                <div>
                    <img class="product_img2" src="../../img/test_img2.png">
                </div>
                
            </div>
    
        </div>
    </main>

    <section class="product_text wrap">
        <div class="product_text_top">
            <div class="product_text_left">
                <p class="product_name"><!--상품이름--></p>
                <p class="product_price"><!--상품가격--></p>
            </div>
    
            <div class="product_text_right">
                <p class="main_description">
                    <!--상품설명-->
                </p>

                <div class="sub_description">
                    <p class="maker"><!--제조사--></p>
                    <p class="shipping_fee">배송비 _ KRW 3000</p>
                </div>
            </div>
        </div>
        

        <div class="border_gray"></div>

        <div class="product_text_bottom">
            <div class="product_text_left">

                <p>수량</p>

                <!--수량 조절 버튼-->
                <div class="cart_product_amount">
                    <div class="cart_product_amount_count">
                        <button onclick="count('minus')" class="cart_product_amount_count_minus amountBtn"><p>-</p></button>
                        <p class="product_amount">1</p>
                        <button onclick="count('plus')" type="submit" class="cart_product_amount_count_plus amountBtn"><p>+</p></button>
                        <button class="amount_done"><p>변경</p></button>
                    </div>
                </div>

            </div>

            <div class="product_text_right">
                <div class="price_area">
                    <p>TOTAL PRICE</p>
                    <p class="total_price">KRW 30,000</p>
                </div>
                <div class="product_btn">
                    <button class="add_cart_btn">Add to cart</button>
                    <button class="buy_btn">Buy</button>
                </div>
            </div>
        </div>

        
    </section>

    <script>
        function count(type) {
            const productAmountNum = document.querySelector('.product_amount'); // 결과 수량
            let num = productAmountNum.innerHTML;

            if(type === 'plus') {
                num = parseInt(num) + 1;
            } else if(type === 'minus') {
                num = parseInt(num) - 1;
            }

            productAmountNum.innerText = num;
        }
    </script>

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./slick/slick.min.js"></script>
    <script type="module" src="product.js"></script>
</body>
</html>