<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>mypage</title>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="mypage.css" />
        <script src="mypage.js" type="module" defer></script>
    </head>
    <body>
        <section class="mypage_section">
            <!-- mypage 버튼 -->
            <div class="mypage_banner_container">
                <div class="left_button_box">
                    <span>
                        <a href="/" class="left_button">〈</a>
                    </span>
                    <span>MY PAGE</span>
                </div>
            </div>

            <!-- 회원정보칸 -->
            <div class="user_info_container">
                <div class="welcome_box_wrap">
                    <div class="welcome_box">
                        <div class="welcome_user">
                            <div class="user_name">김레이서</div>
                            <span>님, 어서오세요!</span>
                        </div>
                        <a class="modify_button" href="/user-security"
                            ><img src="./pencil_icon.png"
                        /></a>
                    </div>
                </div>
                <div class="user_info_box_wrap">
                    <div class="user_info_box">
                        <div class="user_id_info_box">
                            <div class="id">ID</div>
                            <div class="user_email">kimracer@gmail.com</div>
                        </div>
                    </div>
                    <div class="user_info_box">
                        <div class="user_password_info_box">
                            <div class="password">Password</div>
                            <div class="user_password">●●●●●●●</div>
                        </div>
                    </div>
                    <div class="user_info_box">
                        <div class="user_phone_number_info_box">
                            <div class="phone_number">Phone number</div>
                            <div class="user_phone_number">010-1234-5678</div>
                        </div>
                    </div>
                    <div class="user_info_box">
                        <div class="user_address_info_box">
                            <div class="address">Address</div>
                            <div class="user_address">
                                서울특별시 성동구 성수낙낙 엘리스랩
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- orderlist(최근 주문만) -->
            <div class="user_order_container">
                <div class="order_title_box">
                    <div class="order_top_box">
                        <p class="order_box">ORDER</p>
                    </div>
                </div>
                <div class="latest_order_info_container">
                    <div class="latest_order_info_wrap">
                        <div class="order_date_number">
                            <p class="order_date"></p>
                            <a href="#" class="order_number">[12345-67890]</a>
                        </div>
                        <div class="product_info_wrap">
                            <div class="product_image_info">
                                <img class="product_img" src="" />
                            </div>
                            <div class="product_desc_info">
                                <div class="product_category">BENZ</div>
                                <div class="product_name">BENZ 123</div>
                                <div class="product_detail_desc">상품설명</div>
                            </div>
                        </div>
                        <div class="product_amount">2</div>
                        <div class="payment_amount">10000</div>
                        <div class="payment_status">결제 완료</div>
                    </div>
                </div>
                <div class="more_order_info_wrap">
                    <span>﹒</span>
                    <span>﹒</span>
                    <a class="order_list_button" href="#">+ More order list</a>
                </div>
            </div>
        </section>
    </body>
</html>
