.body {
    background-color: #f5f5f5;
}

.mypage_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mypage_banner_container {
    width: 1272px;
    margin-bottom: 35px;
}

.left_button_box {
    width: 159px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'hel_exlight';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}

.left_button {
    text-decoration: none;
    color: #000000;
}

.user_info_container {
    width: 1272px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    opacity: 0.8;
    /* shadow */
    box-shadow: 0px 5px 30px 1px rgba(150, 150, 150, 0.24);
    border-radius: 7px;
}

.welcome_user {
    display: flex;
    flex-direction: row;
}
.welcome_box_wrap {
    width: 1272px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.welcome_box {
    width: 1223px;
    height: 67px;
    font-family: 'pre_regular';
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modify_button > img {
    width: 23px;
    height: 23px;
}

.user_info_box_wrap {
    display: flex;
    flex-direction: column;
}

.user_info_box {
    display: flex;
    align-items: center;
    width: 1272px;
    height: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.user_id_info_box,
.user_password_info_box,
.user_phone_number_info_box,
.user_address_info_box {
    /* width: 344px; */
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 23px;
}

.id,
.password,
.phone_number,
.address {
    width: 192px;
}

.user_email,
.user_password,
.user_phone_number,
.user_Address {
    display: flex;
    justify-content: flex-start;
    width: 400px;
}

.user_order_container {
    font-family: 'pre_regular';
    width: 1272px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    opacity: 0.8;
    margin-top: 25px;
    /* shadow */
    box-shadow: 0px 5px 30px 1px rgba(150, 150, 150, 0.24);
    border-radius: 7px;
}

.order_title_box {
    width: 1272px;
    display: flex;
    flex-direction: start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.order_top_box {
    margin-left: 23px;
    height: 54px;
    display: flex;
    align-items: center;
}

.order_box {
    font-weight: 500;
    font-size: 16px;
}

.latest_order_info_container {
    width: 1272px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.latest_order_info_wrap {
    width: 1199px;
    font-weight: 300;
    font-size: 14px;
    margin: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_date_number {
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order_date,
.order_number {
    font-weight: 300;
    font-size: 14px;
    display: inline-block;
    margin: 0;
    color: #3f3f3f;
}

.product_info_wrap {
    width: 624px;
    display: flex;
    justify-content: space-between;
}

.product_image_info > img {
    background-color: antiquewhite;
    width: 137px;
    height: 137px;
}

.product_desc_info {
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product_category,
.product_detail_desc {
    font-weight: 300;
    font-size: 14px;
    color: #3f3f3f;
}

.product_name {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

.product_amount,
.payment_amout,
.payment_status {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.more_order_info_wrap {
    font-weight: 600;
    font-size: 16px;
    color: #3f3f3f;
    width: 122px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 11px 0;
}

.order_list_button {
    font-weight: 600;
    font-size: 16px;
    color: #3f3f3f;
}
