/*---fonts_pretendard---*/
@font-face {
    font-family: 'pre_thin';
    src: url(./fonts/Pretendard/Pretendard-Thin.ttf);
}
@font-face {
    font-family: 'pre_light';
    src: url(./fonts/Pretendard/Pretendard-Light.ttf);
}
@font-face {
    font-family: 'pre_regular';
    src: url(./fonts/Pretendard/Pretendard-Regular.otf);
}

/*---fonts_helvetica---*/
@font-face {
    font-family: 'hel_exlight';
    src: url(./fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-LtEx.otf);
}
@font-face {
    font-family: 'hel_exheavy';
    src: url(./fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-BlkEx.otf);
}
