<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>장바구니</title>
    <!-- <link rel="stylesheet" href="nav.css" /> -->
    <!-- <link rel="stylesheet" href="../../common.css" /> -->
    <link rel="stylesheet" href="cart.css" />
    <link rel="stylesheet" href="common.css" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />

    <script src="https://kit.fontawesome.com/cc4ff2282f.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="nav_back">
      <div class="nav_wrap">
        <div class="nav_logo_area">
          <p id="logo"><a href="/main">CARCAR</a></p>
        </div>

        <div class="navbar_brands">
          <a class="navbar_brands_list" id="bmw" href="/product_list/bmw/">bmw</a>
          <a class="navbar_brands_list" id="benz" href="/product_list/benz/">benz</a>
          <a class="navbar_brands_list" id="tesla" href="/product_list/tesla/">tesla</a>
          <a class="navbar_brands_list" id="rollsroyce" href="/product_list/rollsroyce/">rollsroyce</a>
          <a class="navbar_brands_list" id="lamborghini" href="/product_list/lamborghini/">lamborghini</a>
        </div>

        <div class="navbar_user">
          <a class="navbar_user_list navbar-user_inline" id="login" href="/login"> 로그인 </a>
          <a class="navbar_user_list navbar-user_inline" id="join" href="/join"> 회원가입 </a>
          <a class="navbar_user_list" id="cart" href="/cart"> 장바구니 </a>
          <a class="navbar_user_list" id="goToMypage" href="">마이페이지</a>
        </div>
      </div>
    </div>
    <!-- <div id="headers"></div> -->
    <div class="container">
      <div class="page_name mar_bottom wrap">
        <div id="page_name_text">
            <img class="previous_btn" src="./img/arrow.svg" alt=""> <!--이전 페이지 돌아가기 기능 구현하기-->
            <p class="sub_title_kor">장바구니</p>
        </div>
      </div>

      <div class="cart">
        <div class="cart_category">
          <div class="cart_category_checkbox banner">
            <input type="checkbox" id="allCheck"/>
          </div>
          <p class="cart_category_product banner">상품</p>
          <p class="cart_category_price banner">상품 금액</p>
          <p class="cart_category_amount banner">수량</p>
          <p class="cart_category_totalPrice banner">총액</p>
        </div>

        <div class="cart_product"><div class=listBox data-id=${product.productId}>
          <div class="cart_product_order domain">
            <input type="checkbox" class="cart_category_listCheckbox">
          </div>
        
          <div class="cart_product_info">
            <div class="cart_product_info_image">
              <img src="./img/Rolls_Royce-Phantom (2).png"/>
            </div>
            <div class="cart_product_info_text">
              <div class="cart_product_info_brand">Rolls Royce</div>
              <div class="cart_product_info_name">Rolls Royce Phantom Navy</div>
            </div>
          </div>
        
          <div class="cart_product_price domain">60,000</div>
        
          <div class="cart_product_amount domain">
            <div class="cart_product_amount_count">
              <button class="cart_product_amount_count_minus"><p>-</p></button>
              <div class="product_amount">1</div>
              <button class="cart_product_amount_count_plus"><p>+</p></button>
            </div>
            <button class="cart_product_amount_change">변경</button>
          </div>
        
          <div class="cart_product_totalPrice domain">60,000
          </div>
        </div></div>

        <button id="deleteBtn">선택 삭제</button>
      </div>
     
      <div class="priceBox">
        <div class="priceBox-shadow">
          <div class="priceBox-category">
            <p class="priceBox-category_text size">선택 상품금액</p>
            <div class="priceBox-category_text" style="width:440px">
                <p  class="size">+</p>
                <p class="size">배송비</p>
                <p class="size">=</p>
            </div>
            
            <p class="priceBox-category_text size" >주문금액</p>
          </div>
        
        <div class="priceBox-price">
          <div id="checked_price" class="priceBox-price_selectPrice size">60,000</div>
          <div id="delivery_price" class="priceBox-price_deliveryPrice size" style="width: 440px;">3,000원</div>
          <div id="total_price" class="priceBox-price_totalPrice size">63,000</div>
        </div>
      </div>

      <button id="payment-btn" class="priceBox-payment">결제하기</button>
    </div>

    <script src="cart.js" type="module"></script>
  </body>
</html>
