/*---fonts_pretendard---*/
@font-face {
    font-family: 'pre_thin';
    src: url(./fonts/Pretendard/Pretendard-Thin.ttf);
}
@font-face {
    font-family: 'pre_light';
    src: url(./fonts/Pretendard/Pretendard-Light.ttf);
}
@font-face {
    font-family: 'pre_regular';
    src: url(./fonts/Pretendard/Pretendard-Regular.otf);
}
@font-face {
    font-family: 'pre_medium';
    src: url(./fonts/Pretendard/Pretendard-Medium.otf);
}
@font-face {
    font-family: 'pre_semibold';
    src: url(./fonts/Pretendard/Pretendard-SemiBold.ttf);
}
@font-face {
    font-family: 'pre_bold';
    src: url(./fonts/Pretendard/Pretendard-Bold.ttf);
}

/*---fonts_helvetica---*/
@font-face {
    font-family: 'helvetica';
    src: url(./fonts/HelveticaNeueLTPro/Helvetica.ttf);
}
@font-face {
    font-family: 'hel_exlight';
    src: url(./fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-LtEx.otf);
}
@font-face {
    font-family: 'hel_exmedium';
    src: url(./fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-MdEx.otf);
}
@font-face {
    font-family: 'hel_exheavy';
    src: url(./fonts/HelveticaNeueLTPro/HelveticaNeueLTPro-BlkEx.otf);
}

/*---reset---*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*---border---*/
.border_red {
    border: solid 1px red;
}
.border_bottom {
    width: 70px;
    height: 1.5px;
    border-bottom: solid 1.5px black;
    margin: 0 auto;
    margin-top: 25px;
}
.border_right {
    width: 1px;
    height: 110px;
    border-right: solid 1px black;
}

/*---wrap---*/
.wrap {
    width: 1270px;
    margin: 0 auto;
}

/*---title---*/
.sub_title {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 25px;
    font-family: 'hel_exlight';
    font-size: 32px;
}

.list_name {
    font-family: 'hel_exmedium';
    font-size: 22px;
}
.list_sub {
    font-family: 'pre_light';
    font-size: 14px;
    color: #3c3c3c;
    margin: 10px 0 10px 0;
}
.list_price {
    font-family: 'pre_medium';
    font-size: 16px;
    color: #3c3c3c;
}

/*--page_name--*/
.page_name {
    height: fit-content;
    margin-top: 120px;
}
.page_name img {
    width: 13px;
    height: 20px;
    margin: 0 30px 0 18px;
    cursor: pointer;
}
.page_name .page_name_border {
    width: 1270px;
    height: 2px;
    margin-top: 16px;
    background: linear-gradient(
        90deg,
        #000000 0%,
        rgba(0, 0, 0, 0.684375) 46.67%,
        rgba(0, 0, 0, 0) 100%
    );
}
