<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>user-management</title>
        <link rel="stylesheet" href="user-management.css" />
        <link rel="stylesheet" href="common.css" />
        <script src="user-management.js" type="module" defer></script>
    </head>
    <body>
        <div class="nav_back">
            <div class="nav_wrap">
              <div class="nav_logo_area">
                <p id="logo"><a href="/main">CARCAR</a></p>
              </div>
      
              <div class="navbar_brands">
                <a class="navbar_brands_list" id="bmw" href="/product_list/bmw/">bmw</a>
                <a class="navbar_brands_list" id="benz" href="/product_list/benz/">benz</a>
                <a class="navbar_brands_list" id="tesla" href="/product_list/tesla/">tesla</a>
                <a class="navbar_brands_list" id="rollsroyce" href="/product_list/rollsroyce/">rollsroyce</a>
                <a class="navbar_brands_list" id="lamborghini" href="/product_list/lamborghini/">lamborghini</a>
              </div>
      
              <div class="navbar_user">
                <a class="navbar_user_list navbar-user_inline" id="login" href="/login"> 로그인 </a>
                <a class="navbar_user_list navbar-user_inline" id="join" href="/join"> 회원가입 </a>
                <a class="navbar_user_list" id="cart" href="/cart"> 장바구니 </a>
                <a class="navbar_user_list" id="goToMypage" href="/mypage">마이페이지</a>
              </div>
            </div>
        </div>
    
        <section class="page_section">
            <div class="page_name wrap">
                <div id="page_name_text">
                    <img class="previous_btn" src="./img/arrow.svg" alt=""> <!--이전 페이지 돌아가기 기능 구현하기-->
                    <p id="category_title" class="sub_title">유저 관리</p>
                    
                </div>
                <div class="page_name_border"></div>
            </div>

            <div class="user_info_container">
                <div class="user_info_box_wrap">
                    <div class="user_info_top">
                        <div class="user_info_category">
                            <span>가입날짜</span>
                            <span>이름</span>
                            <span>이메일</span>
                            <span>전화번호</span>
                            <span>관리</span>
                        </div>
                    </div>
                </div>

                <div class="user_info_category_content"></div>
            </div>
        </section>
    </body>
</html>
