body {
    background-color: #f5f5f5;
}

#page_name_text {
    width: 200px;
    display: flex;
    align-items: center;
    margin-top: 43px;
}

.title {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    /* margin-top: 70px; */
    /* margin-bottom: 25px; */
    font-family: 'hel_exlight';
    font-size: 32px;
}

.user_info_container {
    width: 1596px;
    /* height: 650px; */
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    background-color: #f4f4f4;
    box-shadow: 0px 5px 30px 1px rgba(150, 150, 150, 0.6);
}

.user_info_box_wrap {
    width: 1596px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.user_info_top {
    height: 67px;
    font-family: 'pre_regular';
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_info_category {
    width: 1223px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user_info_category span {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_info_category_content {
    height: 67px;
    font-family: 'pre_regular';
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_info {
    width: 1223px;
    display: flex;
    justify-content: space-between;
}

.user_info span {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete_btn {
    width: 200px;
    height: 25px;
    left: 1387px;
    top: 238px;
    background: #f5f5f5;
    border: 1px solid #676767;
    border-radius: 2px;
}
