<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>user-management</title>
        <link rel="stylesheet" href="user-management.css" />
        <script src="user-management.js" type="module" defer></script>
    </head>
    <body>
        <section class="page_section">
            <div class="page_name_container">
                <div class="left_button_box">
                    <span>
                        <a href="#" class="left_button">〈</a>
                    </span>
                    <span class="page_name">유저 관리</span>
                </div>
            </div>

            <div class="user_info_container">
                <div class="user_info_box_wrap">
                    <div class="user_info_top">
                        <div class="user_info_category">
                            <span>가입날짜</span>
                            <span>이름</span>
                            <span>이메일</span>
                            <span>전화번호</span>
                            <span>관리</span>
                        </div>
                    </div>
                </div>

                <div class="user_info_category_content"></div>
            </div>
        </section>
    </body>
</html>
